# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.env*/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Logs and coverage
*.log
.coverage
.coverage.*
.cache/
.pytest_cache/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# Translations
*.mo
*.pot

# Django stuff
local_settings.py

# Flask stuff
instance/
.webassets-cache/

# Scrapy stuff
.scrapy/

# PyBuilder
target/

# Pyenv
.python-version

# dotenv
.env
.env.*

# Editor directories and OS files
.vscode/
.idea/
*.swp
.DS_Store

