# Web Framework
fastapi
uvicorn

# LangChain / LangGraph
langchain
langgraph

# Google AI SDK for Gemini
google-genai

# Guardrail Libraries
presidio_analyzer
presidio_anonymizer
detoxify
transformers
torch
pandas
scikit-learn
sentence-transformers

# Updated spacy to a version compatible with Pydantic v2, used by FastAPI
spacy
